<div class="stars orange" data-avg="<%= @immediacy_average %>" >
 <div class="starbox">
  <div class="colorBoxAverage"></div>
  <div class="colorBoxInteraction"></div>
  <ul>
    <% 1.upto(5) do |i| %>
    <li class="star"><%= link_to image_tag("../assets/bigger-star-from-Jeff.png"), add_rating_path(@rating, num_stars: i, video_id: @show_video.id, category_id: @categories[5].id), data: {:name => @categories[5].name, :rating => i, :rated => Rating.previous_rating_found?(@show_video.id, @categories[5].id, request.remote_ip) } %></li>
    <% end %>
  </ul>
</div>
</div>

