<div class="container">

  <div class="feature-home-container">
    <% if flash[:alert] %>
      <p class="notice"><%= notice %></p>
    <% end %>

    <h2><%= @feature.title %></h2>

    <div class="vid-link">
        <%= render "shared/player", video: @feature, autoplay: false %>
    </div>
  </div>

  <div class="carousel-footer">

      <% @categories.each_with_index do |category, index| %>
        <%= render 'shared/carousel', title: user_preference('category-' + category.id.to_s, category.name), subtitle: "TOP 20", id: index, videos: @carousel_videos[category.id], category: category %>
      <% end %>

  </div>

</div>