@import "./_variables";

.facebook-thumb {
  display: none;
}

#fb-image img {
  float: right;
  position: relative;
  margin-top: -28px;
  width: 260px;
  float: left;
  border-radius: 3px;
  z-index: 1;
}

.description {
  width: 260px;
  min-height: 80px;
  float: right;
  position: relative;
  font-size: 14px;
  font-weight: 300;
  color: $paleGray;
  padding-bottom: 30px;
  margin-top: 15px;
  a {
    font-weight: bold;
    line-height: 40px;
  }
  .tags {
    a {
      line-height: 18px;
      font-weight: normal;
    }
  }

  img {
    width: 40px;
    height: 40px;
    float: left;
    margin: 0 15px 15px 0;
  }
  p {
    clear: both;
  }
}

#facebook-popup {
  padding: 0x;
  width: 300px;
  height: 300px;
  margin: 0;
  margin-right: -10px;
  background-color: $white;
  position: fixed;
  z-index: 4;
  bottom: 2em;
  right: 0;
  border-radius: 2px;

  img.close-popup {
    width: 10px;
    height: 10px;
    right: 15px;
    top: 5px;
    position: absolute;
    z-index: 2;
  }

  .fb-like {
    overflow: hidden;
  }

  .fb-like-box {
    position: relative;
    z-index: 1;
  }

  .fb_iframe_widget {
    width: 300px;
    height: 300px;
    position: relative;
    left: 0;
    top: 0;
  }
}