@import "./_variables";

.navbar {
  width: $fullSpan;
  top: 0;
  background-image: url(/assets/header.png);
  margin: 0;
  height: 60px;
  padding: 0;
  margin-bottom: 0 !important;

  .inner-nav {
    width: $main;
    margin: 0 auto;
  }

  .logo {
    float: left;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .to-sub-vid-modal a, .get-signed-in a {
    width: 145px;
    height: 48px;
    background: url(/assets/button-submit.png) no-repeat;
    z-index: 1;
    float: right;
    margin-left: 30px;
    margin-top: 6px;

    &:hover {
      background-position: 0 -48px;
    }
  }

  .nav-right {
    float: right;
    margin-top: 20px;

    a {
      color: $paleMauve;
      margin-left: 30px;
      padding-top: 30px;
      text-decoration: none;
      font-size: 12px;
      letter-spacing: .1em;
      font-weight: 300;

      &:hover {
        color: $brightGreen;
      }
    }
  }

  .nav-left {
    float: left;

    li {
      display: inline;
      list-style: none;
    }
  }

  .thumb {
    position: relative;
    top: -3px;

    img {
      width: 25px;
      height: 25px;
    }
  }

}

#nav-border {
  height: 1px;
  width: $fullSpan;
  background-image: url(/assets/keystroke-rainbow.png);
}