@import "./_variables";

.profiles {
  margin-top: 40px;
  margin-bottom: 40px;

  ul {
    color: $paleBlue;
    margin-left: 0;

    li {
      list-style: none;
    }
  }
}

.user-video-titles {

  li {
    list-style: none;
  }

  table {
  font-size: 16px;
  color: $paleBlue;
  font-weight: 300;
  text-align: left;

    td {
      width: 100px;
      color: $offWhite;
      text-align: left;

      &:first-child {
        min-width: 280px; 
        padding-right: 20px;
        text-align: left;
      }

      &:nth-of-type(2) {
        padding-left: 4px;
      }

      &:nth-of-type(3) {
        padding-left: 7px;
      }

      &:last-child {
        padding-left: 30px;
      }
    }

    a {
      color: $offWhite;
      font-size: 16px;
      font-weight: 300;
      text-decoration: none;
    }
  }
}
 