@import "./_variables";

.submit-vid-form > .modal-backdrop .fade .in {
    background-color: black;
    opacity: .1;
  }

.submit-vid-form, .edit-vid-form {

  .modal-content {
    width: 565px;
    border-radius: 0;
  }

  .modal-dialog {
    margin: 100px auto;
  }

  h1 {
    color: $backBody;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
  }

  h2 {
    color: $backBody;
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
  }

  h5 {
    color: gray;
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 0px;
    letter-spacing: 0;
  }

 input {
  border-radius: 0;
  background-color: gainsboro;
  border: none;
 }

 textarea {
    border-radius: 0;
    background-color: gainsboro;
    border: none;
  }

  input[type=text], input[type=email], input[type=password], textarea {
    width: 100%;
  }

}

.edit-vid-form {
  margin: 0 auto;
  margin-top: 50px;
  width: 565px; 
  padding: 20px;
  background-color: $white;
  padding-top: none;

  label {
    margin: 0;
    margin-bottom: -10px;
  }

  input {
    margin-bottom: 20px;
  } 

  .modal-footer {
    margin-top: 45px;
  }
}
