@import "./_variables";

.none-found {
  padding-left: 18px;
}
div.average-rating {
  padding-left: 18px;
  position: relative;
  top: -15px;
  span {
    display: inline-block;
    color: #FFF;

  }

  ul {
    display: inline-block;
    width: 100px;
    position: relative;
    top: 5px;
  }

  .star img {
    background: #333;
    width: 100%;
    height: auto;
    top: 4px;
    position: relative;
  }

  .star.active img {
    background-color: rgb(16, 109, 227);
  }

  .star {
    width: 20px;
    height: auto;
    margin-right: 0;
    float: left;
  }
}

.carousel-footer {
  width: $main;
  margin: 0 auto;
  min-height: 200px;
  padding-top: 10px;
  padding-bottom: 50px;
  border-top: 1px solid #2f2b31;
  color: #999;
  clear: both;
  background-color: $backBody;
}

.search-form-container {
  height: 140px;
  margin: 0 auto;
  width: $main;
  padding-top: 30px;
  padding-bottom: 60px;

  h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: left;
  font-weight: 300;
  color: $paleBlue;
  letter-spacing: .09em;
  }
}

.add-vids-container {
  clear: both;
  width: $main;
  margin: 0 auto;
  margin-left: -20px;
  padding-bottom: 60px;

  div.index-caption {
    height: 51px;
    margin-right: 0;
    margin: 0;
    margin-left: 18px;
    top: -24px;
    width: 210px;
    position: relative;
    z-index: 1;
    background: rgba(22, 20, 22, .7);
    padding: 5px 10px 10px 10px;

    a {
      color: $white;
      font-weight: 400;
      font-size: 14px;
      text-decoration: none;
    }
  }

  li {
    display: inline-block;
    height: 150px;
    width: 220px;
    margin-right: 2px;
  }

  li div.images {
    margin: 18px;
    width: 210px;
    height: 150px;
    margin-right: 0;
    overflow: hidden;
    position: relative;

    span {
        height: 51px;
        margin: 0;
        bottom: 0;
        width: 100%;
        position: absolute;
        z-index: 1;
        background: rgba(22, 20, 22, .7);
        padding: 5px 10px 10px 10px;
        color: $white;
        font-weight: 400;
        font-size: 14px;
        text-decoration: none;
      }
      img {
        top: -35px;
        position: relative;
        left: -35px;
      }
  }

  ul {
    width: $main;
    margin-left: 0;
  }
}

.search {
  margin-left: -15px;
  padding: 0 !important;
}

.facebook-comments {
  width: 900px;
  margin: 0 auto;
}

.vid-link {
  overflow: hidden;
  position: relative;
  float: left;
  #player {
    z-index: 1;
    position: relative;
    padding: 0;
    margin: 0;
    border: 0;
    float: left;
  }
  .finished-popup {
    display: none;
    background: #FFF;
    top: 0;
    left: 0;
    float: left;

    form {
      padding: 20px;
      input {
        width: 100%;
      }
      p {
        padding: 0 0 20px 0;
      }
    }

    .buttons {
      position: absolute;
      bottom: 20px;
      width: 100%;
      text-align: center;
    }
  }

}

.modal-header p {
  color: #000;
  text-align: center;
}