@import "./_variables";

.carousel-footer {
  width: $main;
  margin: 0 auto;
  min-height: 200px;
  padding-top: 10px;
  padding-bottom: 50px;
  border-top: 1px solid #2f2b31;
  color: #999;
  clear: both;
  background-color: $backBody;
}

.search-form-container {
  height: 140px;
  margin: 0 auto;
  width: $main;
  padding-top: 30px;
  padding-bottom: 60px;

  h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: left;
  font-weight: 300;
  color: $paleBlue;
  letter-spacing: .09em;
  }
}

.add-vids-container {
  clear: both;
  width: $main;
  margin: 0 auto;
  margin-left: -20px;
  padding-bottom: 60px;

  div.index-caption {
    height: 51px;
    margin-right: 0;
    margin: 0;
    margin-left: 18px;
    top: -24px;
    width: 210px;
    position: relative;
    z-index: 1;
    background: rgba(22, 20, 22, .7);
    padding: 5px 10px 10px 10px;

    a {
      color: $white;
      font-weight: 400;
      font-size: 14px;
      text-decoration: none;
    }
  }

  li {
    display: inline-block;
    height: 150px;
    width: 220px;
    margin-right: 2px;
  }

  li div.images {
    margin: 18px;
    width: 210px;
    height: 104px;
    margin-right: 0;
    padding-top: 15px;
  }

  ul {
    width: $main;
    margin-left: 0;
  }
}

.search {
  margin-left: -15px;
  padding: 0 !important;
}
